/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generale */

li {
  list-style: none;
  text-decoration: none;
}

.body-container {
  max-width: 1400px;
  margin: 0 auto;
}

/* hover */

.hover-list > li :hover{
    color: white;
}

.hover-list > li > span :hover{
    color: white;
}

.upgrade:hover{
    transform: scale(1.1);
}

.card:hover .play-hover{
    display: block;
}

#playlist :hover{
    color: white;
}


/* aside */

.hidden-logo {
  display: none;
}

aside a{
    text-decoration: none;
    color: gray;
}

.aside-top{
    margin-top: 20px
}

aside {
  width: 200px;
  /* height: calc(100vh - 100px); */
  background-color: black;
  color: white;
  padding: 10px 0px 0px 10px;
  vertical-align: middle;
}
.aside-top > ul > li > span > img {
  width: 30px;
}

.aside-top > ul > li > span, #playlist{
    vertical-align: middle;
}

.spotify-icon > img {
  width: 150px;
}

.aside-bottom > h3{
    margin: 20px 0px;
}

.aside-bottom > ul > li{
    margin-top: 20px;
}

.main-list{
    height: 40%;
    overflow: auto;
}


#playlist{
    color: gray;
}

#white-item{
    color: white;
    border-left: 2px solid green;
}


/* header */

header {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  min-height: 50px;
  text-align: right;
  position: sticky;
  top: 0;
}
header > .upgrade {
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px 20px 10px 0px;
  border-radius: 30px;
  text-transform: uppercase;
}



/* card */

.card-container,
.card-container-2,
.card-container-3 {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.card {
  width: calc((100% / 6) - 20px);
  text-align: center;
  color: white;
  margin: 0px 10px;
}

.card > p {
    margin: 5px 0px;
    color: gray;
}
.img-card > img {
    width: 100%;
    object-fit: cover;
}
.card > .img-card {
  width: 100%;
  position: relative;
}

.play-hover{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1.3px) ;
    display: none;
}


.play-hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    


/* fine card */

main > h2 {
  color: white;
  margin: 20px 10px 0px 10px;
}

.special {
  margin: 10px 10px;
  color: gray;
}

/* main */

.container {
  display: flex;
  background-color: #141922;
}

main {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  overflow: auto;
}


main > nav {
  color: lightgray;
  width: 80%;
  margin: 20px auto;
}

main > nav > ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main > nav > ul > li {
  margin: 0px 10px 20px;
}

main > nav > ul > li > a{
    text-decoration: none;
    color: gray;
}

.card-container-3 > .card > .img-card > img {
  border-radius: 300px;
}

#green-border{
    border-bottom: 2px solid green;
}

/* fine main */

/* footer */

.track-box :nth-child(2) {
  width: 100%;
  min-width: 150px;
  background-color: #545454;
  height: 3px;
}

.track-progression {
  height: 3px;
  background-color: white;
  width: 20%;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #282828;
  color: white;
  font-size: 0.8em;
}

/* sinistra footer */


.left-side {
  display: flex;
  align-items: center;
  width: 30%;
}

.left-side > div {
  padding: 0px 5px;
}

.icon-box > span {
  padding: 0px 5px;
}

.footer-img {
  max-width: 70px;
  max-height: 70px;
}

.footer-img > img {
  width: 100%;
  object-fit: cover;
}
/* fine sinistra footer */

/* centro footer */

.central-side {
  width: 30%;
}

.central-side :first-child {
  display: flex;
  justify-content: center;
}
.central-side > div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.central-side > div > span {
  padding: 0px 10px;
}
.central-side > .track-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.central-side > .track-box > * {
  margin: 10px;
}

/* fine centro footer */

/* destra footer */

.right-side > span {
  padding: 0px 10px;
}
.track-line-2 {
  height: 2px;
  background-color: #545454;
  width: 20%;
  min-width: 30px;
}
.right-side {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-side > div {
  margin: 0px 10px;
}

/* fine footer */

@media screen and (max-width: 1100px) {
  .card {
    width: calc((100% / 4) - 20px);
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 600px) {
  .hidden {
    display: none;
  }

  aside > div > .spotify-icon {
    display: none;
  }

  aside > div > .hidden-logo {
    display: block;
  }

  aside {
    width: 50px;
    padding: 10px 10px 0px;
  }

  main {
    width: calc(100% - 50px);
  }
}


