/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

  .container{
        display: flex;
        background-color: #141922;
    }

  /* aside */

    


  aside{
    min-width: 200px;
    /* height: calc(100vh - 100px); */
    background-color: black;
    color: white;
  }


/* header */

main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    overflow: auto; 
}

   
  header{
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    min-height: 50px;
    text-align: right;
    position: sticky;
    top: 0;
}

  header > .upgrade{
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 20px 10px 0px;
    border-radius: 30px;
    text-transform: uppercase;
  }

/* footer */

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #282828;
    color: white;
    font-size: 0.8em;
}

.left-side{
    display: flex;
    align-items: center;
    width: 30%;
}

.left-side > div{
    padding: 0px 5px;
}

.icon-box > span{
    padding: 0px 5px;
}

.footer-img{
    max-width: 70px;
    max-height: 70px;
}

.footer-img > img{
    width: 100%;
    object-fit: cover;
}

.central-side{
    width: 40%;
}

.central-side > div{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.central-side > div > span{
    padding: 0px 10px;
}

.right-side > span {
    padding: 0px 10px;
}

.central-side >.track-box{
    display: flex;
    align-items: center;
}
.central-side > .track-box > *{
    margin: 10px;
}

.track-box :nth-child(2){
    width: 80%;
    background-color: #545454;
    height: 3px;
}

.track-progression{
    height: 3px;
    background-color: white;
    width: 20%;
}

.track-line-2{
    height: 2px;
    background-color: #545454;
    width: 20%;
}


.right-side{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-side > div {
    margin: 0px 10px;
}




